.profile-card p {
  margin: 0.5rem 0;
  line-height: 1.4;
}

.profile-card input[type='file'] {
  margin: 0.5rem 0 1rem;
  color: white;
}

.profile-card input,
.profile-card textarea {
  width: 100%;
  padding: 0.6rem;
  margin: 0.5rem 0;
  border-radius: 6px;
  border: none;
  background: #2e2e2e;
  color: white;
  font-size: 1rem;
}

.profile-card textarea {
  resize: vertical;
  min-height: 80px;
}

.button-group {
  display: flex;
  flex-direction: column; 
  align-items: center;
  gap: 5rem;
  margin-top: 3rem;
}

.profile-card button {
  padding: 0.6rem 1.2rem;
  width: 100%;
  max-width: 200px;
  margin-bottom: 0.5rem; 
  border: none;
  background-color: #03dac6;
  color: #121212;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.profile-card button:hover {
  background-color: #00b3a0;
}
